{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
    <section>
        <header>
            <h1>Change Your Password</h1>
        </header>

        <br/>
        {% if success %}
        <p class="centerText">
            Your password has been changed.
        </p>
        {% endif %}

        {% if error %}
        <span class="field-validation-error centerText">{{ error }}</span>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="row centerText">
                {{ form.oldpassword }}<br/>
                <span class="field-validation-valid" data-valmsg-for="oldpassword" data-valmsg-replace="true"></span>
            </div>
            <div class="row centerText">
                {{ form.newpassword1 }}<br/>
                <span class="field-validation-valid" data-valmsg-for="newpassword1" data-valmsg-replace="true"></span>
            </div>
            <div class="row centerText">
                {{ form.newpassword2 }}<br/>
                <span class="field-validation-valid" data-valmsg-for="newpassword2" data-valmsg-replace="true"></span>
            </div>
            <div class="row">
                <p class="centerText">
                    <input type="submit" class="btn btn-primary" value="Change Password"/>
                </p>
            </div>
        </form>
    </section>
</div>
{% endblock content %}