# requirements.txt
Django==1.9.6
djangorestframework==3.3.3
djangorestframework-jwt==1.8.0
PyJWT==1.4.0
Markdown==2.6.6
stripe==1.23.0
django-jsonfield==0.9.13
django-suit==0.2.18
gunicorn==19.4.5
django-codemirror-widget==0.4.0
user-agents==1.0.1
requests==2.7.0
django-user-agents==0.3.0
sendgrid-django==2.0.0
Pillow==2.9.0
python-social-auth==0.2.14
django-crontab==0.7.0
django-webpack-loader==0.3.0