# requirements-vendor.txt
Django==1.10.6
djangorestframework==3.6.2
djangorestframework-jwt==1.9.0
Markdown==2.6.6
stripe==1.23.0
django-jsonfield==1.0.1
django-codemirror-widget==0.4.0
sendgrid-django==2.0.0
django-crontab==0.7.0
raven==5.15.0
django-slack==5.8.0
cryptography==1.8.1
django-cors-headers==2.0.2
django-filter==1.0.2
