@import "./breakpoints.css";

:root {
  --padding-1: 0.5rem;
  --padding-2: 1rem;
  --padding-3: 1.5rem;
  --padding-4: 2rem;
  --padding-5: 3rem;
  --padding-6: 5rem;
  --padding-7: 7rem;
  --padding-8: 9rem;
  --padding-9: 11rem;

  --margin-1: 0.5rem;
  --margin-2: 1rem;
  --margin-3: 1.5rem;
  --margin-4: 2rem;
  --margin-5: 3rem;
  --margin-6: 5rem;
  --margin-7: 7rem;
  --margin-8: 9rem;
  --margin-9: 11rem;
}

.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }

/* 0 */
.p0  { padding: 0; }
.pt0 { padding-top: 0; }
.pb0 { padding-bottom: 0; }
.pl0 { padding-left: 0; }
.pr0 { padding-right: 0; }

.m0  { margin: 0; }
.mt0 { margin-top: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }
.mr0 { margin-right: 0; }

@each $size in 1, 2, 3, 4, 5, 6, 7, 8, 9 {
  /* padding ${size} */
  .p$(size) {
    padding: var(--padding-$(size));
  }

  .px$(size) {
    padding-left:  var(--padding-$(size));
    padding-right: var(--padding-$(size));
  }

  .py$(size) {
    padding-top:    var(--padding-$(size));
    padding-bottom: var(--padding-$(size));
  }

  .pt$(size) { padding-top:    var(--padding-$(size)); }
  .pb$(size) { padding-bottom: var(--padding-$(size)); }
  .pl$(size) { padding-left:   var(--padding-$(size)); }
  .pr$(size) { padding-right:  var(--padding-$(size)); }

  /* margin ${size} */
  .m$(size) { margin: var(--margin-$(size)); }

  .mx$(size) {
    margin-left:  var(--margin-$(size));
    margin-right: var(--margin-$(size));
  }

  .my$(size) {
    margin-top:    var(--margin-$(size));
    margin-bottom: var(--margin-$(size));
  }

  .mt$(size) { margin-top:    var(--margin-$(size)); }
  .mb$(size) { margin-bottom: var(--margin-$(size)); }
  .ml$(size) { margin-left:   var(--margin-$(size)); }
  .mr$(size) { margin-right:  var(--margin-$(size)); }
}


/* responsive spacing */

@each $bp in sm, md, lg, xl {
  @media screen and (--breakpoint-min-$(bp)) {

    .$(bp)-p0  { padding:        0; }
    .$(bp)-pt0 { padding-top:    0; }
    .$(bp)-pb0 { padding-bottom: 0; }
    .$(bp)-pl0 { padding-left:   0; }
    .$(bp)-pr0 { padding-right:  0; }

    .$(bp)-m0  { margin:        0; }
    .$(bp)-mt0 { margin-top:    0; }
    .$(bp)-mb0 { margin-bottom: 0; }
    .$(bp)-ml0 { margin-left:   0; }
    .$(bp)-mr0 { margin-right:  0; }

    @each $size in 1, 2, 3, 4, 5, 6, 7, 8, 9 {
      .$(bp)-p$(size) { padding: var(--padding-$(size)); }

      .$(bp)-px$(size) {
        padding-left:  var(--padding-$(size));
        padding-right: var(--padding-$(size));
      }

      .$(bp)-py$(size) {
        padding-top:    var(--padding-$(size));
        padding-bottom: var(--padding-$(size));
      }

      .$(bp)-pt$(size) { padding-top:    var(--padding-$(size)); }
      .$(bp)-pb$(size) { padding-bottom: var(--padding-$(size)); }
      .$(bp)-pl$(size) { padding-left:   var(--padding-$(size)); }
      .$(bp)-pr$(size) { padding-right:  var(--padding-$(size)); }

      .$(bp)-m$(size) { margin: var(--margin-$(size)); }

      .$(bp)-mx$(size) {
        margin-left:  var(--margin-$(size));
        margin-right: var(--margin-$(size));
      }

      .$(bp)-my$(size) {
        margin-top:    var(--margin-$(size));
        margin-bottom: var(--margin-$(size));
      }

      .$(bp)-mt$(size) { margin-top:    var(--margin-$(size)); }
      .$(bp)-mb$(size) { margin-bottom: var(--margin-$(size)); }
      .$(bp)-ml$(size) { margin-left:   var(--margin-$(size)); }
      .$(bp)-mr$(size) { margin-right:  var(--margin-$(size)); }
    }
  }
}
