// Butons!

@mixin button-variant($color, $background) {
  color: $color;
  border-color: $background;
  background: $background;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
    background: lighten($background, 10%);
    border-color: lighten($background, 10%);
  }

  &:active,
  &.active {
    background-image: none;
    @include translate(0px, 3px);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $background;
    }
  }
}

.btn {
  display: inline-block;
  @include ie7-inline-block();

  padding: 10px 40px;
  margin: 5px 0;
  border: 3px solid $grey;
  background: $grey;
  @include border-radius(3px);

  color: white;
  text-align: center;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;

  @include transition(all 50ms linear);


  // Hover/focus state
  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
    background: lighten($grey, 10%);
    border-color: lighten($grey, 10%);
  }

  // Active state
  &.active,
  &:active {
    background-image: none;
    outline: 0;
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    @include opacity(65);
  }
}

.btn-purple {
  @include button-variant(white, $purple);
}

.btn-red {
  @include button-variant(white, $red);
}

.btn-blue {
  @include button-variant(white, $blue);
}

.btn-green {
  @include button-variant(white, $green);
}

.btn-yellow {
  @include button-variant($grey, $yellow);
}
.btn-full {
  width: 100%;
  margin: 0;
}
