label,
input,
button,
select,
textarea {
  font-size: $baseFontSize;
  font-weight: normal;
  line-height: $baseLineHeight;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: $baseLineHeight + 12px;
  padding: 6px 8px;
  margin-bottom: $baseLineHeight / 2;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $fontColor;
  @include border-radius(4px);
  vertical-align: middle;
}

input,
textarea,
.uneditable-input {
  width: 226px; // plus 12px padding and 2px border
}

textarea {
  height: auto;
}

input[type="text"],
textarea {
  h1 & {
    font-size: $baseFontSize * 2;
    line-height: $baseLineHeight * 2;
    height: $baseLineHeight * 2;
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 2px solid #999;
  @include transition(border linear .05s);

  // Focus state
  &:focus {
    border-color: $blue;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
  }
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0; /* IE7 */
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

.form-field {
  display: inline-block;

  input,
  textarea {
    width: 100%;
  }

  &.error {
    input,
    textarea {
      border-color: $red;
    }
  }

  &.valid {
    input,
    textarea {
      border-color: $green;
    }
  }
}
.field-validation-error {
  font-size: $baseFontSize - 2;
  display: block;
  color: lighten(#EE1616, 10%);
  margin: -4px 0 $baseLineHeight 0;
}