.fundraiser {
  position: relative;
  padding: 10px 0;
  width: 100%;
  height: 100px;

  .fundraiser-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .fundraiser-position {
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
    font: 18px/22px 'Arial',sans-serif;
    text-align: center;
    background: image_url("place_other.png") center bottom;
    padding-top: 10px;

    &.position-1,
    &.position-2,
    &.position-3 {
      height: 61px;
      padding-top: 28px;
      margin-top: 0;
      -webkit-background-size: 45px 61px;
      -moz-background-size: 45px 61px;
      background-size: 45px 61px;
    }

    &.position-1 {
      background-image: image_url("place_first_x2.png");
    }

    &.position-2 {
      background-image: image_url("place_second_x2.png");
    }

    &.position-3 {
      background-image: image_url("place_third_x2.png");
    }
  }

  .rider-avatar {
    position: absolute;
    left: 60px;
  }

  .fundraiser-details {
    position: absolute;
    left: 150px;

    h3 {
      margin: 0;
    }
  }

  .fundraiser-sponsor-button{
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 1;
  }
}