/**
 * layout.less
 * Major section layouts
 */

* {
  @include box-sizing(border-box);
}

// Basic containers
.content {
  width: $pageWidth;
  margin: auto;
}

// HAND CRAFTED GRID, MOTHER FUCKERS
// Now that is quality!
.row {
  @include clearfix();
  margin-left: -$gridGutter;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: $gridGutter;
}
.span1 { width: ($columnWidth * 1) + ($gridGutter * 0); }
.span2 { width: ($columnWidth * 2) + ($gridGutter * 1); }
.span3 { width: ($columnWidth * 3) + ($gridGutter * 2); }
.span4 { width: ($columnWidth * 4) + ($gridGutter * 3); }
.span5 { width: ($columnWidth * 5) + ($gridGutter * 4); }
.span6 { width: ($columnWidth * 6) + ($gridGutter * 5); }
.offset1 { margin-left: ($columnWidth * 1) + ($gridGutter * 2); }
.offset2 { margin-left: ($columnWidth * 2) + ($gridGutter * 3); }
