// Our credit card form
.payment-form {
  width: 420px;
  padding: 20px;
  margin: 0;
  background: #f5f5f5;

  .form-field {
    width: 100%;
  }
}

.payment-form--credit-card {
  height: 200px;
  width: 350px;
  padding: 10px 20px;
  background: #DDD;
  border-radius: 16px;
  margin: 0 auto 20px auto;

  .payment-form--title {
    text-align: left;

    h3 {
      margin: 0;
      margin-bottom: 10px;
    }
  }

  .infoRow {
    margin: 10px 0;
    text-align: center;

    img {
      width: 52px;
      margin-right: 6px;
    }
  }

  .row {
    margin: 10px 0;
    @include clearfix();
  }

  .longNumber {
    position: relative;
    float: left;
    width: 78%;

    .form-field {
      width: 100%;
    }
  }

  .cvc {
    float: right;
    width: 18%;
  }

  span.card-type {
    position: absolute;
    top: 9px;
    right: 9px;
    display: block;
    width: 32px;
    height: 20px;
    z-index: 20;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 32px 20px;

    &.amex {
      background-image: image_url("/static/img/icons/amex.png");
    }
    &.diners {
      background-image: image_url("/static/img/icons/diners.png");
    }
    &.discover {
      background-image: image_url("/static/img/icons/discover.png");
    }
    &.jcb {
      background-image: image_url("/static/img/icons/jcb.png");
    }
    &.mastercard {
      background-image: image_url("icons/mastercard.png");
    }
    &.visa {
      background-image: image_url("/static/img/icons/visa.png");
    }
  }

  .nameOnCard {
    float: left;
    width: 60%;
  }

  .exp {
    float: right;
    width: 92px;
  }

  .year {
    margin-left: 4px;
    width: 66px;
  }
}

.payment-form--amount {
  margin-bottom: 10px;

  h2 {
    margin: 0;
  }

  .form-field {
    width: 90px;

    input {
      margin: 0;
      margin-bottom: 1px;
    }
  }
}

.payment-form--submit {
  padding: 15px;
  margin: 0 -20px -20px -20px;
  background: #e2e2e2;
  @include border-bottom-radius(3px);
}