.progress-button {
  transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;

  span {
    display: inherit;
    transition: opacity 0.3s 0.1s;
  }

  svg {
    height: 54px;
    width: 54px;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;

    path {
      opacity: 0;
      fill: none;
    }
  }

  &.loading {
    border: none;
    background: none;

    span {
      transition: all 0.15s;
      opacity: 0;
      display: none;
    }

    .progress-button--circle {
      > path {
        transition: opacity 0.15s 0.3s;
        opacity: 1;
      }
    }
  }

  &.success {
    border-color: #A0D468;
    background-color: #A0D468;

    span {
      transition: all 0.15s;
      opacity: 0;
      display: none;
    }

    .progress-button--checkmark {
      > path {
        opacity: 1;
      }
    }
  }

  &.error {
    border-color: #ED5565;
    background-color: #ED5565;

    span {
      transition: all 0.15s;
      opacity: 0;
      display: none;
    }

    .progress-button--cross {
      > path {
        opacity: 1;
      }
    }
  }
}

.progress-button--circle {
  animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);

  path {
    stroke: currentColor;
    stroke-width: 5;
  }
}

.progress-button--checkmark,
.progress-button--cross {
  path {
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}