/**
 * Registration steps
 */
.steps {
  margin: 15px 0;
  padding: 0;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    width: 33%;
    color: #aaa;

    span {
      display: block;
      margin: auto;
      text-align: center;
      font-size: 16px;

      &:first-child {
        width: 40px;
        height: 40px;
        line-height: 39px;
        border: 2px solid #aaa;
        font-size: 19px;
        @include border-radius(50%);
      }
    }
  }

  li.active {
    color: darken($yellow, 5%);

    span:first-child {
      color: white;
      background: darken($yellow, 5%);
      border-color: darken($yellow, 5%);
    }
  }

  li.done {
    color: $green;

    span:first-child {
      color: white;
      background: $green;
      border-color: $green;
    }
  }

  li.pending {
    color: darken($yellow, 5%);

    span:first-child {
      color: darken($yellow, 5%);
      background: white;
      font-size: 48px;
      border: none;
      width: 46px;
    }
  }

  li.failed {
    color: $red;

    span:first-child {
      color: white;
      background: $red;
      border-color: $red;
    }
  }
}