/**
 * variables.less
 */

// Colours
$grey: #333333;
$red: #eb1c24;
$blue: #4494c7;
$purple: #625398;
$green: #76c15a;
$yellow: #fdec18;

// Typography
$fontColor: #333;
$baseFontSize: 18px;
$baseLineHeight: 26px;

$linkColor: #62519A;
$linkColorHover: lighten(#62519A, 10%);

// Layout
$numberOfColumns: 6;
$gridGutter: 40px;
$columnWidth: 100px;
$pageWidth: $columnWidth * $numberOfColumns + ($gridGutter * ($numberOfColumns - 1));