/**
 * main.scss
 * Compilation of styles for TechBikers.com
 */

@import "compass";

// Setup
@import "variables";
@import "mixins";
@import "../../node_modules/normalize.css/normalize.css";

// Typography
@import "fonts";
@import "typography";
@import "forms";

// Layout
@import "layout";

// Components and Widgets
@import
  "app",
  "button",
  "formField";


body {
    margin: 0;
}

.text--centre{
  text-align: center;
}

// Ride Page
.ride-list {
    margin: 30px 0 !important;
    padding: 0;
    list-style: none;
    text-align: center;
}

.ReactModal__Body--open {
  overflow: hidden;
}
