/**
 * components.less
 * Buttons, sliders, all those little things
 */

// Butons!
.btn {
  display: inline-block;
  .ie7-inline-block();
  padding: 10px 40px;
  margin-bottom: 0; // For input.btn
  text-align: center;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  vertical-align: middle;
  cursor: pointer;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  background: #4DA1EA;
  text-decoration: none;
  color: white;
  .border-radius(3px);
  .box-shadow(0px 2px 4px rgba(0, 0, 0, .1));
  .transition(all .05s linear);


  // Hover/focus state
  &:hover,
  &:focus {
    text-decoration: none;
    background: lighten(#4DA1EA, 5%);
  }

  // Focus state for keyboard and accessibility
  &:focus {

  }

  // Active state
  &.active,
  &:active {
    background-image: none;
    outline: 0;
    .translate(0px, 3px);
    .box-shadow(none);
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    .opacity(65);
    .box-shadow(none);
  }

}