/**
 * components.less
 * Buttons, sliders, all those little things
 */

// Butons!
.btn {
  display: inline-block;
  .ie7-inline-block();

  padding: 10px 40px;
  margin-bottom: 0; // For input.btn
  border: 3px solid @fontColor;
  .border-radius(6px);

  color: @fontColor;
  font-weight: bold;
  text-align: center;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  text-decoration: none;

  .transition(all 50ms linear);


  // Hover/focus state
  &:hover,
  &:focus {
    text-decoration: none;
    background: lighten(@fontColor, 10%);
    border-color: lighten(@fontColor, 10%);
    color: white;
  }

  // Focus state for keyboard and accessibility
  &:focus {
    // fuk da police
    // also: do this
  }

  // Active state
  &.active,
  &:active {
    background-image: none;
    outline: 0;
    .translate(0px, 3px);
    .box-shadow(none);
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    .opacity(65);
  }
}