/**
 * variables.less
 */


// Typography
@fontColor: #333;
@baseFontSize: 18px;
@baseLineHeight: 26px;

// Layout
@numberOfColumns: 6;
@gridGutter: 40px;
@columnWidth: 100px;
@pageWidth: @columnWidth * @numberOfColumns + (@gridGutter * (@numberOfColumns - 1));