{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}Techbikers{% endblock %}</title>

        {% render_bundle 'vendor' %}

        {% if "safari" in request.user_agent.browser.family.lower %}
        <script type="text/javascript" src="{% static 'js/intl.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/intl-locale-en.min.js'%}"></script>
        {% endif %}
    </head>

    <body>
        <div id="app">
            {% block html %}
                Loading...
            {% endblock %}
        </div>
        {% render_bundle 'app' %}
    </body>
</html>
