{% spaceless %}
<p>
    <b>Did you know that if every child received an education, 170 million people would be lifted out of poverty?</b>
</p>
<p>In {{ ride.start_date|date:"F" }}, I will drop my laptop and get on a bike, cycling over 300km with {{ ride.rider_capacity }} other riders from {{ ride.start_location }} to {{ ride.end_location }} with TechBikers - all to raise money for Room to Read!</p>
<p>
    <b>Please support me with however much you can give.</b>
</p>
<p>Why? To support Room to Read's work on a cause I strongly believe in: providing children with an education.</p>
<p>Focusing on childhood literacy is one of the most effective ways to improve living standards across the globe.</p>
<p>
    <b>WHERE WILL MY DONATION GO?</b>
</p>
<p>All your donations will go straight to Room to Read, who have received the coveted Four Star Rating from Charity Navigator nine(!) years in a row. About £12,000 will be used to rebuild a school in Nepal that was built in 2013 using TechBikers funds. The rest will go where the need is greatest.</p>
<p>
    <b>WHAT'S TECHBIKERS?</b>
</p>
<p>Techbikers brings together the London tech startup community to help children in need by supporting literacy charity Room to Read. Since 2012, over 120 entrepreneurs, VCs, and other tech enthusiasts have cycled 960km to raise $265,000 for this fantastic charity, and built a school, a handful of libraries, and supported the education of over 3,000 girls.</p>
{% endspaceless %}