{% spaceless %}
<p>
    <b>Did you know that if every child received an education, 170 million people would be lifted out of poverty?</b>
</p>
<p>In {{ ride.start_date|date:"F" }}, I will drop my laptop and get on a bike, cycling over 300km with {{ ride.rider_capacity }} other riders from {{ ride.start_location }} to {{ ride.end_location }} with TechBikers - all to raise money for Room to Read!</p>
<p>
    <b>Please support me with however much you can give.</b>
</p>
<p>Why? To support Room to Read's work on a cause I strongly believe in: providing children with an education.</p>
<p>Focusing on childhood literacy is one of the most effective ways to improve living standards across the globe.</p>
<p>
    <b>WHERE WILL MY DONATION GO?</b>
</p>
<p>All your donations will go straight to Room to Read, who have received the coveted Four Star Rating from Charity Navigator nine(!) years in a row. Funds will be used to build schools or libraries in developing countries such as Nepal or Tanzania. Funds go where the need is greatest.</p>
<p>
    <b>WHAT'S TECHBIKERS?</b>
</p>
<p>In 2012 TechBikers launched in London as a means for the tech community to put down their laptops and pick up a bike to support charity, network and share ideas. The goal is to help children in need by supporting literacy charity Room to Read. Since 2012 over 350 tech professionals – including start-ups, venture capitalists and executives – have cycled 1600km between Paris to London to raise over € 300.000 for this fantastic charity.</p>
<p>This year, TechBikers is going international with rides across central and Eastern Europe.</p>
{% endspaceless %}
