{% extends "shared/_base.html" %}

{% load currency %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>Ride Signup - Checkout</h1>
    </header>

    {% if signed_up %}

    <p>
        You have already signed up for the {{ ride.name }} ride. No need to pay for it again!
    </p>

    {% else %}

    <p>
        You are about to sign up for {{ ride.name }} at a cost of {{ ride.price|currency }}
    </p>

    <form method="post">
        {% csrf_token %}

        <input type="hidden" name="ride" value="{{ ride.id }}">

        {% for field in form %}
          <div class="field-wrapper">

            <div class="field-label">
              {{ field.label_tag }}:
            </div>

            <div class="field-field">
              {{ field }}
              {{ field.errors }}
            </div>

          </div>
        {% endfor %}

        <button type="submit">Let's go!</button>
    </form>

    {% endif %}
  </section>
</div>

{% endblock %}