{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
    <section>
        <header>
            <h1>Something went wrong</h1>
        </header>

        <p>
            Unfortunately we haven't been able to process your payment because of the reason stated below.
            You have not been charged and as a result have not been signed up to the ride.
            If the problem persists or you have any questions then get in touch.
        </p>

        <p>
            {{ error }}
        </p>

    </section>
</div>
{% endblock %}