{% extends "shared/_base.html" %}

{% load staticfiles %}

{% block content %}

<div class="content">
  <section>
    <header>
      <h1>You are Registered for {{ ride.name }}!</h1>
    </header>

    <ol class="steps">
      <li>
        <span>1</span>
        <span>Join Techbikers</span>
      </li>

      <li>
        <span>2</span>
        <span>Pay the ride fee</span>
      </li>

      <li class="active">
        <span>3</span>
        <span>Registration Complete!</span>
      </li>
    </ol>

    <p class="text--centre">
      Awesome! You're all signed you up for the ride. Time to get fundraising!
    </p>

      <p class="text--centre">
          <a class="btn" href="{% url "profile" request.user.id %}">Update your Rider Profile</a>
      </p>

  </section>
</div>

{% endblock %}