{% extends "shared/_base.html" %}

{% block content %}

<div class="content">
  <section>
    <header>
      <h1>All done - You're on the ride!</h1>
    </header>

    <p>
      We have successfully charged your card and signed you up for the ride. Time to get fundraising!
    </p>

      <p>
         You Should now head over to Believe.in and set yourself up to start fundraising for the ride:

          <a href="https://believe.in/fundraising/start?event_id=1&amount=60000" target="_blank">Click here</a>
      </p>

  </section>
</div>

{% endblock %}