{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <form method="post">
  {% csrf_token %}

    {{ form.errors }}

    <div class="row">
      <div class="span2 offset1">
        {{ form.firstname }}
        <span class="field-validation-valid" data-valmsg-for="firstname" data-valmsg-replace="true"></span>

        {{ form.lastname }}
        <span class="field-validation-valid" data-valmsg-for="lastname" data-valmsg-replace="true"></span>

        {{ form.email }}
        <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>

        {{ form.company }}
      </div>

      <div class="span2">
        {{ form.website }}
        {{ form.twitter }}
        {{ form.password1 }}
        <span class="field-validation-valid" data-valmsg-for="password1" data-valmsg-replace="true"></span>
        {{ form.password2 }}
        <span class="field-validation-valid" data-valmsg-for="password2" data-valmsg-replace="true"></span>

      </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
    <p class="centerText">
      <input type="submit" value="Sign Up" class="btn" />
    </p>
  </form>
    <a href="{% url "auth_login" %}?next={{ next }}">Already have an account?</a>
</div>
{% endblock content %}