{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
    <section>
        {% if validlink %}
            <header>
                <h1>Create a new password</h1>
            </header>

            {% if form.errors %}
                <div class="errors">
                    {{ form.errors }}
                </div>
            {% endif %}

            <p>
                Please enter your new password twice so we can verify you typed it in correctly.
            </p>

            <form action="" method="post">
                {% csrf_token %}

                <div class="centerText">
                        <input type="password" name="new_password1" id="id_new_password1" placeholder="New password"
                               data-val="true" data-val-required="You can't leave this empty"><br/>
                    <span class="field-validation-valid" data-valmsg-for="new_password1" data-valmsg-replace="true"></span>
                </div>

                <div class="centerText">
                    <input type="password" name="new_password2" id="id_new_password2"
                               placeholder="Confirm new password" data-val="true"
                               data-val-required="You can't leave this empty"
                               data-val-equalto="Passwords must match"
                               data-val-equalto-other="new_password1"><br/>
                    <span class="field-validation-valid" data-valmsg-for="new_password2" data-valmsg-replace="true"></span>
                </div>

                <p class="centerText">
                    <input type="submit" class="btn btn-primary" value="Reset my password"/>
                </p>
            </form>

        {% else %}

            <header>
                <h1>Password reset unsuccessful</h1>
            </header>

            <p>
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
            </p>

        {% endif %}
    </section>
</div>
{% endblock %}