{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
    <section>
        <header>
            <h1>Reset your password</h1>
        </header>

        <p class="centerText">
            Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
        </p>

        {% if form.errors %}
            <span  class="centerText field-validation-error">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}

            <div class="centerText">
                <input id="id_email" type="text" name="email" maxlength="75"
                       data-val="true"
                       data-val-required="You can't leave this empty"
                       data-val-regex="Please enter a valid email address"
                       data-val-regex-pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
                       placeholder="Email address"><br/>
                <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
            </div>

            <p class="centerText">
                <input type="submit" class="btn btn-primary" value="Reset my password"/>
            </p>
        </form>
    </section>
</div>
{% endblock %}