{% extends "email/_base.html" %}

{% block content %}
<table>
    <tr>
        <td>
            <p>
                Hi {{ user.first_name }}!
            </p>
            <p>
                You're receiving this email because you requested a password reset for your user account.
            </p>
            <p>
                Please go to the following page and choose a new password:
            </p>
            <table>
                <tr>
                    <td class="padding">
                        <p><a href="https://techbikers.com/password/reset/{{ uid }}/{{ token }}" class="btn-primary">Reset Password</a></p>
                    </td>
                </tr>
            </table>
            <p>
                Happy cycling!
            </p>
        </td>
    </tr>
</table>
{% endblock %}