{% extends "email/_base.html" %}

{% block header %}
    <h1>You're invited to join the ride!</h1>
{% endblock %}

{% block content %}
    <p>Hi {{ user.first_name }}</p>

    <p><b>
        Great news - we'd love to have you as part of the TechBikers {{ ride.name }} ride.</b> We can't
        wait to ride with you and raise money for <a href="http://techbikers.com/the_charity">Room to Read.</a></p>

    <p>
        <b>To secure your place, please complete registration and pay your ride contribution by midnight on
        {{ invite_expires|date:"d F" }}</b>.</p>

    <p>
        If you haven't paid by then, we will release invites to the next batch, who might snap up your
        spot if you wait around.</p>

    <table class="full-width">
        <tr>
            <td class="padding centerText">
                <p><a href="https://techbikers.com/rides/{{ ride.id }}/{{ ride.slug }}" class="btn btn-blue">Complete Registration</a></p>
            </td>
        </tr>
    </table>

    <p>
        To reiterate, the ride costs about {{ ride.full_cost }}{{ ride.currency }} per rider. To help cover costs and get more money to
        Room to Read's aid projects, we're asking for a minimum contribution of {{ ride.price }}{{ ride.currency }}.</p>

    <p>
        Once you've confirmed your place, we'll follow up with more information very soon -
        all about how and where to set up your donations page, whether rental bikes are
        available (yes.), admin details etc.</p>

    <p>
        Excited to ride with you!</p>

    <p>
        Team TechBikers</p>
{% endblock %}
