.Spinner {
  margin: 100px auto;
  max-width: 200px;
}

.noMargin {
  margin: 0 auto;
}

.loader {
  margin: 0 auto;
  width: 1em;
  height: 1em;
  position: relative;
}

.cube {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.35em;
  height: 0.35em;
  animation: cubemove 1.8s infinite ease-in-out;
}

.light .cube {
  background-color: #FFFFFF;
}

.cube1 {
  composes: cube;
  background-color: var(--green-color);
}

.cube2 {
  composes: cube;
  background-color: var(--purple-color);
  animation-delay: -0.9s;
}

.message {
  margin: 10px 0;
  text-align: center;
}

@keyframes cubemove {
  25% {
    transform: translateX(0.65em) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(0.65em) translateY(0.65em) rotate(-179deg);
  } 50.1% {
    transform: translateX(0.65em) translateY(0.65em) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(0.65em) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
  }
}
