.Notification {
  composes: relative from "css/layout";
  composes: float-left from "css/float";
  composes: py2 px3 from "css/spacing";

  min-width: 280px;
  max-width: 520px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
