.ProgressNotification {
  background: #333;
}

.text {
  max-width: 100%;
  font-size: 0.8rem;
}

.progressBarOuter {
  composes: full from "css/layout";

  height: 0.5em;
  margin: 0.4em 0;
  border-radius: 0.5em;
  background: white;
}

.progressBarInner {
  height: 100%;
  min-width: 1em;
  border-radius: 0.5em;

  background: var(--brand-color);
}
