{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>About Techbikers</h1>
    </header>

    <p>
      Techbikers is a collaboration of the London tech startup community to help children in need by supporting Room to Read.
    </p>

    <p>
      Tech Bikers was born from Googleʼs Campus London in a collaboration between Eze Vidra, head of Google Campus, Benjamin Southworth, ex Deputy CEO at Tech City UK,  and Abraham Choi, Founder of Decision Analytics. After cycling the first, Mark Jennings was added to the founding team in 2013.
    </p>

    <p>
      “Londonʼs Tech City community is amazing. I see it everyday in Campus. Inspiring projects like Techbikers allow us to come together, away from our individual goals, to pool our energies into a joint one,” said Vidra. “We want to build a childrenʼs library in the developing world, so get on your bike and joins us.”
    </p>

    <p>
      Vidraʼs vision was to unite the great minds at Campus London for a project that would leave a lasting impact on childrenʼs lives.
    </p>

    <p>
      “Tech Bikers is a weekend unlike any other” Said Mark Jennings “ After joining the first ride, I was hooked and had to get more involved”
    </p>
  </section>
</div>
{% endblock content %}