{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>Events</h1>
    </header>

    <p>
      As well as doing a lot of cycling we also hold a series of events to help raise money and to get everyone ready for the rides. Here's what's coming up:
      <ul>
        <li><a href="#celebritydinner"><i>19th September</i> - Dinner with Olympian Gold Medalist Rebecca Adlington</i></a></li>
        <li><a href="#comedynight"><i>20th September</i> - Comedy & Raffle night</i></a></li>
        <li><a href="#launchawebsite"><i>21st-22nd September</i> - Learn How to Launch a Website in 48 Hours</i></a></li>
        <li><a href="#pastaparty"><i>25th September</i> - Pasta party @ Google Campus</a></li>
        <li><a href="#techbikersreturn"><i>29th September</i> - TechBikers Return Rumpus</a></li>
        <li><a href="#trainingrides"><i>Every Tuesday Evening</i> - Techbikers Training Rides</a></li>
      </ul>
    </p>



    <h2 class="centerText" id="celebritydinner">19th September - Dinner with Olympian Gold Medalist Rebecca Adlington</h2>
    <p>
      If you weren’t able to drop your laptop and get on your bike to join the TechBikers ride, you can support Tech Bikers by joining our charity dinner with Rebecca Adlington.
    </p>
    <p>
      During a stellar career, Rebecca won multiple Olympic, World, European and Commonwealth Games gold medals. She competed in four Olympic finals, winning two Gold and two Bronze medals in Beijing and London respectively. She remains the current world record holder in 800m Freestyle, and is undoubtedly the greatest swimmer that Great Britain has ever produced, not to mention one of the most successful female athletes in British Olympic history.
    </p>
    <p class="centerText">
      <img src="/static/img/events/rebecca-adlington.jpg" width="500" />
    </p>
    <p>
      Enjoy an intimate and memorable fine dining experience with Great Britain's most successful ever swimmer. The dinner (3 courses, including wine) will take place on 19th September, 7pm at the Eight Club Moorgate's private dining room overlooking the City of London.
    </p>
    <p>
      <b>Grab one of the five early bird seats for £150 for the price increases. <a href="http://goo.gl/XXZAdC">Sign up here</a>.</b>
    </p>
    <p>
      Thank you for your support and hope to meet you at dinner.
    </p>
    <p class="centerText">
      <a href="http://goo.gl/XXZAdC" class="btn" target="_blank">Sign up here</a>
    </p>



    <h2 class="centerText" id="comedynight">20th September - Comedy Night & Charity Raffle</h2>
    <p>
      On September 20th, the Techbikers Comedy Night is on in <a href="http://www.dirtydicks.co.uk/">Dirty Dicks</a>, starring the all amazing <a href="http://www.trevorlock.org/index1.html">Trevor Lock</a>.
    </p>
    <p class="centerText">
      <img src="/static/img/events/trevor-lock.jpg" height="300" />
    </p>
    <p>
      It promises to be a fantastic evening with lots of laughs, interesting people from the tech scene in London
      and a charity auction with great prizes. <b>Tickets are only £20</b>
    </p>
    <p class="centerText">
      <a href="https://techbikers-comedy.eventbrite.com/" class="btn" target="_blank">Sign up here</a>
    </p>


    <h2 class="centerText" id="launchawebsite">21st-22nd September - Learn How to Launch a Website in 48 Hours</h2>
    <p>
      In one weekend, on the 21st and 22nd of September 2013, Makers Academy will teach you the basics of Web Development, guiding you through the process of setting up a simple Web Application.
      And - it’s all for a good cause - ALL proceeds will be donated to Tech Bikers. Read our <a href="http://blog.techbikers.com/post/59100244391/learn-how-to-launch-a-website-in-48-hours-and-support">Blog Post</a> to find out a bit more.
    </p>
    <p class="centerText">
      <a href="https://makersacademy2dayworkshop.eventbrite.co.uk/" class="btn" target="_blank">Sign up here</a>
    </p>



    <h2 class="centerText" id="pastaparty">25th September - Pasta party @ Google Campus</h2>
    <p>
      Stock up on those carbs before the ride. CentralWorking is hosting and you better be hungry when you join this delicious pasta party with five different toppings on a dozen of different pasta types.
      Costs <b>only £10 per person</b> and that includes as much pasta & toppings as you can scoff. Great company included.
    </p>
    <p class="centerText">
      <a class="btn" href="https://tbpastaparty.eventbrite.com" target="_blank">Sign up here</a>
    </p>

    <h2 class="centerText" id="techbikersreturn">29th September - TechBikers Return</h2>
    <p>
      Big fat party to celebrate the return of our besaddled friends.
      <br/>
      Details to follow soon.
    </p>

    <h2 class="centerText" id="trainingrides">Every Tuesday Evening - Techbikers Training Rides</h2>
    <p>
      200 miles is LONG. We strongly recommend you to participate in at least one of the TechBikers practice rides.
      Signup each week using the link below.
    </p>
    <p class="centerText">
      <a href="http://techbikerspracticerides.eventbrite.com/" class="btn" target="_blank">Sign up here</a>
    </p>


  </section>
</div>
{% endblock content %}