{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>Events</h1>
    </header>

    <p>
      As well as doing a lot of cycling we also hold a series of events to help raise money and to get everyone ready for the rides. Here's what's coming up:
      <ul>
        <li><a href="#launchawebsite"><i>21st-22nd September</i> - Learn How to Launch a Website in 48 Hours</i></a></li>
        <li><a href="#pastaparty"><i>25th September</i> - Pasta party @ Google Campus</a></li>
        <li><a href="#techbikersreturn"><i>29th September</i> - TechBikers Return Rumpus</a></li>
        <li><a href="#trainingrides"><i>Every Tuesday Evening</i> - Techbikers Training Rides</a></li>
      </ul>
    </p>


    <h2 class="centerText" id="launchawebsite">21st-22nd September - Learn How to Launch a Website in 48 Hours</h2>
    <p>
      In one weekend, on the 21st and 22nd of September 2013, Makers Academy will teach you the basics of Web Development, guiding you through the process of setting up a simple Web Application.
      And - it’s all for a good cause - ALL proceeds will be donated to Tech Bikers. Read our <a href="http://blog.techbikers.com/post/59100244391/learn-how-to-launch-a-website-in-48-hours-and-support">Blog Post</a> to find out a bit more.
    </p>
    <p class="centerText">
      <a href="https://makersacademy2dayworkshop.eventbrite.co.uk/" class="btn" target="_blank">Sign up here</a>
    </p>



    <h2 class="centerText" id="pastaparty">25th September - Pasta party @ Google Campus</h2>
    <p>
      Stock up on those carbs before the ride. CentralWorking is hosting and you better be hungry when you join this delicious pasta party with five different toppings on a dozen of different pasta types.
      Costs <b>only £10 per person</b> and that includes as much pasta & toppings as you can scoff. Great company included.
    </p>
    <p class="centerText">
      <a class="btn" href="https://tbpastaparty.eventbrite.com" target="_blank">Sign up here</a>
    </p>

    <h2 class="centerText" id="techbikersreturn">29th September - TechBikers Return</h2>
    <p>
      Big fat party to celebrate the return of our besaddled friends.
      <br/>
      Details to follow soon.
    </p>

    <h2 class="centerText" id="trainingrides">Every Tuesday Evening - Techbikers Training Rides</h2>
    <p>
      200 miles is LONG. We strongly recommend you to participate in at least one of the TechBikers practice rides.
      Signup each week using the link below.
    </p>
    <p class="centerText">
      <a href="http://techbikerspracticerides.eventbrite.com/" class="btn" target="_blank">Sign up here</a>
    </p>


  </section>
</div>
{% endblock content %}