{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>Events</h1>
    </header>

    <p>
      As well as doing a lot of cycling we also hold a series of events to help raise money and to get everyone ready for the rides. Here's what's coming up:
        <ul>
            <li><a href="#trainingrides">Techbikers Training Rides <i>(Every Tuesday Evening)</i></a></li>
            <li><a href="#cakesale">Cake sale at XYZ event <i>(To Be Decided)</i></a></li>
            <li><a href="#comedynight">Comedy Night & Raffle <i>(20th September 2013)</i></a></li>
            <li><a href="#celebritydinner">Fancy dinner with Sports Celebrity <i>(To Be Decided)</i></a></li>
        </ul>
    </p>

    <h2 id="trainingrides">Techbikers Training Rides</h2>
    <p>
      Every Tuesday, 6:30pm meeting at Look Mum No Hands
    </p>
    <p>
      Tech Bikers was born from Googleʼs Campus London in a collaboration between Eze Vidra, head of Google Campus, Benjamin Southworth, ex Deputy CEO at Tech City UK, Abraham Choi, Founder of Decision Analytics and Gerry Newton, Campus London resident and Founder of the Cyclr.
    </p>

    <h2 id="cakesale">Cake Sale</h2>
    <p>
      Date to be Announced
    </p>
    <p>
      On tbd, we will sell cakes. They will be moist and chewy. Some will contain fruit. Others will not.
      On tbd, we will sell cakes. They will be moist and chewy. Some will contain fruit. Others will not.
    </p>

    <h2 id="comedynight">Comedy Night & Raffle</h2>
    <p>20th September</p>
    <p>
      “Londonʼs Tech City community is amazing. I see it everyday in Campus. Inspiring projects like Techbikers allow us to come together, away from our individual goals, to pool our energies into a joint one,” said Vidra. “We want to build a childrenʼs library in the developing world, so get on your bike and joins us.”
    </p>

    <h2 id="celebritydinner">Fancy dinner with Sports Celebrity</h2>
    <p>Date to be Announced</p>
    <p>
      “Londonʼs Tech City community is amazing. I see it everyday in Campus. Inspiring projects like Techbikers allow us to come together, away from our individual goals, to pool our energies into a joint one,” said Vidra. “We want to build a childrenʼs library in the developing world, so get on your bike and joins us.”
    </p>

  </section>
</div>
{% endblock content %}