{% extends "shared/_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="hero">
  <div class="content">

    <div class="strapline">
      <h1>
        Drop your laptop &amp; pickup your bike.
      </h1>
      <a href="#getinvolved" class="btn">Get Involved</a>
    </div>
  </div>
</div>

<div id="main" class="content">

  <section id="mission">
    <header>
      <h1>Our Mission</h1>
    </header>

    <p>
      Techbikers is a collaboration of the London tech startup community to help children in need by supporting Room to Read. Last year, between September 21st-23rd, 40 tech professionals – including start-ups, venture capitalists and executives &hyphen; cycled over 200 miles from Paris to London to raise money for a fantastic charity.
    </p>
  </section>

  <section>
    <header>
      <h1>Last Year</h1>
    </header>
    <p>
      40 cyclists + $47,000 raised = 2 schools + 1 library built
    </p>

  </section>

  <section>
    <header>
      <h1>Our Sponsors</h1>
    </header>
  </section>

  </section>
</div>
{% endblock %}
