{% extends "shared/_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="hero">
  <div class="content">

    <div class="strapline">
      <h1>
        Drop your laptop &amp; pick up your bike.
      </h1>
      <a href="#getinvolved" class="btn">That sounds good</a>
    </div>
  </div>
</div>

<div id="main" class="content">

  <section id="mission">
    <header>
      <h1>Our Mission</h1>
    </header>

    <p>
      Techbikers is a collaboration of the London tech startup community to help children in need by supporting Room to Read. Last year, between September 21st-23rd, 40 tech professionals – including start-ups, venture capitalists and executives &hyphen; cycled over 200 miles from Paris to London to raise money for a fantastic charity.
    </p>
  </section>

  <section>
    <header>
      <h1>Last Year</h1>
    </header>

    <div class="row">
      <div class="span2 offset1 stat">
        40
        <small>cyclists</small>
      </div>
      <div class="span2 stat">
        $47k
        <small>raised</small>
      </div>
    </div>

    <div class="row">
      <div class="span4 offset1 statText">
        <h2>and Room to Read built</h2>
      </div>
    </div>

    <div class="row">
      <div class="span2 offset1 stat">
        2
        <small>schools</small>
      </div>
      <div class="span2 stat">
        1
        <small>library</small>
      </div>
    </div>
  </section>

  <section>
    <header>
      <h1>Our Sponsors</h1>
    </header>
  </section>

  </section>
</div>
{% endblock %}
