{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>Our sponsors</h1>
    </header>
    
</section>
<div class=sponsors>
  <p class="gap--big">Without the following companies Techbikers 2013 simply would not have happened. We are incredibly grateful for their support. Their investment in us has resulted in more funds going to Room to Read.</p>
    <h2 class=jersey--parent><span class="jersey"></span>Yellow Jersey Sponsor</h2>

    <ul class="list--secret">
      <li class=media>
        <a href="http://www.microsoftventures.com" class="img">
          <img src="/static/img/sponsors/msventures2.png" alt="Microsoft Ventures logo" />      
        </a>
        <div class="bd">
          <h3 id="ms"><a href="http://www.microsoftventures.com">Microsoft Ventures</a></h3>
          <p>
            Microsoft Ventures is a strategic partner for promising startups around the world focused on business growth &amp; customer development, industrial strength technology and beautiful usable products. We are solely focused on building great businesses. We’re especially keen to partner with proven young B2B, B2C and gaming startups looking to leverage our global routes to market. 
          </p>
        </div>
      </li>
    </ul>

    <h2 class=jersey--parent><span class="jersey jersey--green"></span>Green Jersey Sponsor</h2>

    <ul class="list--secret">
      <li class=media>
        <a href="http://level39.co/" class="img">
          <img src="/static/img/sponsors/l39.png" alt="Level39 logo" />      
        </a>
        <div class="bd">
          <h3 id="l39"><a href="http://level39.co/">Level39</a></h3>
          <p>
            Level39 is Europe's largest accelerator space for finance, retail and future cities companies. Occupying the entire 39th floor of the iconic One Canada Square building, and established by Canary Wharf Group plc, Level39 was opened in March 2013 by Boris Johnson, Mayor of London, and has quickly become an important part of London's booming Tech City. We accelerate our startups by putting them in touch with influential technology mentors, buyers and investors.
          </p>
        </div>
      </li>
    </ul>

     <h2 class=jersey--parent><span class="jersey jersey--kotm"></span>King of the Mountain Sponsor</h2>

    <ul class="list--secret">
      <li class=media>
        <a href="http://www.pearsoncollege.com" class="img">
          <img src="/static/img/sponsors/pearson.png" alt="Pearson Logo" />      
        </a>
        <div class="bd">
          <h3 id="pear"><a href="http://www.pearsoncollege.com">Pearson College</a></h3>
          <p>
            Pearson College is part of Pearson, a leading FTSE 100 company, home to iconic brands like Penguin and the Financial Times. All our degrees are designed in partnership with leading businesses and smart start-ups giving our students the best of both worlds - the chance to learn from leading employers, as well as experienced academics and subject experts, in the heart of 21st century business.
          </p>
        </div>
      </li>
    </ul>

    <p>
      With a few more yet to break from the peloton. <a href="mailto:sponsors@techbikers.com">Talk to us about sponsorship</a>
    </p>

  </div>
</div>
{% endblock content %}