{% extends "shared/_base.html" %}

{% block content %}
    <div class="content">
        <section>
            <header>
                <h1>Our sponsors</h1>
                <h2>We are actively seeking sponsors for the 2014 ride.</h2>
            </header>

        </section>

        <p class="gap--big">
            To hear first hand the benefits of sponsoring TechBikers, watch this short film from Diane Perlman of Microsoft Ventures and Claire Cockerton of Level 39 who sponsored our ride in 2013.
        </p>

        <p style="text-align: center">
            <iframe width="560" height="315" src="//www.youtube.com/embed/ISuzYDqtXVA?rel=0" frameborder="0" allowfullscreen></iframe>
        </p>

        <h2>Why should you sponsor?</h2>

        <p>
            Sponsors benefit in a variety of ways, of course, there’s the epic social media campaign, theres the heady thrill of seeing your logo on 70 riders racing through france and back in to London, it’s the feeling that you’re doing something good. Something right.
        </p>
        <p>
            But it’s more than that, more than awareness, more than CSR, it’s about creating a tightly bonded group, a family of riders, who have formed businesses together, raised money from each other, met and fallen in love with each other, cried, laughed, broken bones and celebrated each other. It is opportunity for you and your brand to be at the core of a visceral, emotional, mental and physical challenge.
        </p>
        <p>
            For more of a flavour of the excperience, see our <a href="https://techbikers.com/static/reports/techbikers-2013-roundup.pdf" title="2013 End of Ride Report">2013 End of Ride Report here</a>.
        </p>
        <p>
            For our sponsor pack, and to discuss options for sponsorship please speak to James <a href="mailto:sponsors@techbikers.com">sponsors@techbikers.com</a>.
        </p>

    </div>
{% endblock content %}