{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <h1>Paris - London September 26th ~ 29th, 2013</h1>

  <p>
    The ride will be three days and 200 miles of cycling through pretty and quaint villages both in France and England.
  </p>

  <p>
    This year we will be arriving in Paris the evening before to allow us to ride Central paris on Friday morning and soak in all the beautiful sites as we start the ride.
  </p>

  <p>
    The final route has not been confirmed yet but here is what we did last year:
  </p>
</div>
{% endblock content %}