{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>The Charity</h1>
    </header>
    <h2>Techbikers raise money for Room to Read</h2>

    <p>
      Room to Read envisions a world in which all children can pursue a quality education, reach their full potential and contribute to their community and the world. To achieve this goal, we focus on two areas where we believe we can have the greatest impact: literacy and gender equality in education. We work in collaboration with communities and local governments across Asia and Africa to develop literacy skills and a habit of reading among primary school children, and support girls to complete secondary school with the life skills they’ll need to succeed in school and beyond.
    </p>

    <p>
      Find out more about Room to Read at <a href="http://www.roomtoread.org" target="_blank">www.roomtoread.org</a>.
    </p>

  </section>
</div>
{% endblock content %}