@import "./variables";

.offWhiteColor      { color: var(--offWhite); }
.offWhiteBorder     { border-color: var(--offWhite); }
.offWhiteBackground { background-color: var(--offWhite); }
.offWhiteFill       { fill: var(--offWhite); }

.greyColor          { color: var(--grey); }
.greyBorder         { border-color: var(--grey); }
.greyBackground     { background-color: var(--grey); }
.greyFill           { fill: var(--grey); }

.redColor           { color: var(--red); }
.redBorder          { border-color: var(--red); }
.redBackground      { background-color: var(--red); }
.redFill            { fill: var(--red); }

.blueColor          { color: var(--blue); }
.blueBorder         { border-color: var(--blue); }
.blueBackground     { background-color: var(--blue); }
.blueFill           { fill: var(--blue); }

.purpleColor        { color: var(--purple); }
.purpleBorder       { border-color: var(--purple); }
.purpleBackground   { background-color: var(--purple); }
.purpleFill         { fill: var(--purple); }

.greenColor         { color: var(--green); }
.greenBorder        { border-color: var(--green); }
.greenBackground    { background-color: var(--green); }
.greenFill          { fill: var(--emerald); }

.yellowColor        { color: var(--yellow); }
.yellowBorder       { border-color: var(--yellow); }
.yellowBackground   { background-color: var(--yellow); }
.yellowFill         { fill: var(--yellow); }