.Errors {
  composes: flex justify-center from "css/flex";
}

.content {
  composes: m2 py1 px2 from "css/spacing";
  composes: bg-error from "css/color";
  composes: rounded from "css/rounded";
  composes: text-centered from "css/text";
}

.full {
  composes: flex-full from "css/flex";
}
